body {
  font-family: 'Open Sans', sans-serif;
  color: DarkBlue;
  background-color: Ivory;
  margin: 10px 50px 10px 50px;
}

h1, h2 {
  font-family:'Oswald', sans-serif;
}

img {
  float: left;
  margin-right: 10px;
}

.left {
  float: left;
  width: 300px;
  padding: 15px;
}
.right {
  float:right;
  width: 300px;
  padding: 15px;
}
.center {
  margin-left: 300px;
  margin-right: 300px;
  padding: 15px;
}

#navbar ul {
  list-style-type: none;
}

#navbar li {
  display: inline;
}

#navbar a {
  margin-left: 70px;
  margin-right: 70px;
}